[user]
  name = Chris Branson
  email = 138595+chrisbranson@users.noreply.github.com
  signingkey = /Users/chrisbranson/.ssh/id_ed25519.pub
[core]
  excludesfile = /Users/chrisbranson/.gitignore_global
[commit]
  template = /Users/chrisbranson/.stCommitMsg
[color]
  ui = true
  branch = auto
  diff = auto
  interactive = auto
  status = auto
[init]
  defaultBranch = main
[alias]
  co = checkout
  br = branch
  st = status
  c = commit
  ca = commit -a
  cm = commit -m
  cam = commit -am
  d = diff
  dc = diff --cached
  l = log --graph --pretty=format:"%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset" --abbrev-commit
[gpg]
  format = ssh
[pull]
  rebase = true
